{% if paymentsList %}
<div id="content" class="main-content">
  <div class="layout-px-spacing">
    <div class="row layout-top-spacing">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="row">

          <div class="col-lg-6 mb-4">
            <div class="top-notice d-flex align-items-center">
              <img src="https://cdn.mypanel.link/850dbe/d4l2szqdorukt3ka.png" height="50">

              <span class="pl-3"><strong>Bakiye Ekle</strong><br />Tüm ödeme yöntemlerinde <strong>%0</strong> komisyon!
              </span>
            </div>
          </div>
          <div class="col-lg-6 mb-4 d-none d-md-block">
            <div class="top-notice-2 d-flex align-items-center">
              <span>Artık kendi panelinizi kurabilir, müşterilerinize kendi paneliniz üzerinden HepsiSosyal servislerini
                satabilirsiniz.</span>
              <a href="/child-panels" class="btn btn-outline btn-block ml-2"
                style="max-width: 150px;font-size: 14px;padding: 15px">Satın Al</a>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-6 mb-3">
            <div class="well h-100">
              <form {% if site['rtl'] %} class="rtl-form" {% endif %} method="post" action="">
                {% if success %}
                <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ successText }}
                </div>
                {% endif %}
                {% if error %}
                <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ errorText }}
                </div>
                {% endif %}
                <div class="form-group">
                  <label for="method" class="control-label">{{ lang('addfunds.method') }}</label>
                  <select class="form-control" id="method" name="AddFoundsForm[type]" id="order_type">
                    {% for payment in paymentsList %}
                    <option value="{{ payment['id'] }}" {% if currentPayment==payment['id'] %} selected{% endif %}>{{
                      payment['name'] }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="amount" class="control-label">{{ lang('addfunds.amount') }}</label>
                  <input type="number" class="form-control" name="AddFoundsForm[amount]" id="amount">
                </div>

                <div class="form-group" id="divid">
                  <label class="control-label">Telefon Numarası (Örn: 05304098989)</label>
                  <input class="form-control" name="AddFoundsForm[fields][phone]" value="" type="text">

                </div>
                <div class="form-group" id="dividr">
                  <label class="control-label">Bonus Miktarı</label>
                  <input class="form-control" name="" value="0" type="text">
                
                </div>
                {% if site['cpf_field'] %}

                <div class="form-group">
                  <label for="cpf" class="control-label">{{ lang('addfunds.cpf') }}</label>
                  <input type="text" class="form-control" name="AddFoundsForm[cpf]" id="cpf">
                </div>

                {% endif %}<div>
                  <form>
                    <input type="hidden" name="_csrf" value="{{ csrftoken }}">
                    <button type="submit" class="btn btn-primary btn-block">{{ lang('addfunds.button.pay') }}</button>
                  </form>
                  <button type="button" class="btn btn-purple btn-block mt-3" data-toggle="modal"
                    data-target="#papara-modal"><img src="https://cdn.mypanel.link/850dbe/zarju47qj6y3mqg7.png"
                      width="75" /> ile Öde</button>
                </div>
            </div>
          </div>


          <div class="col-lg-6 mb-3">
            <div class="well h-100">
              <div class="row">
                <div class="col-12">
                  <div class="d-card-head" style="margin: 0 0 10px 0; padding: 10px 0">
                    Bakiye Kazan
                  </div>
                  <p class="pt-2">Sevgili <strong>{{ user['username'] }}</strong>, HepsiSosyal üzerinde her gün
                    güncellenmekte olan fırsatlardan bakiye kazanabilirsin.</p>
                  <p class="text-danger">Paylaşımı yaptıktan sonra belirtilen gün süresinde ödemenizi alabilirsiniz.
                  </p>
                  <div class="table-responsive">
                    <div class="tablepen">
                      <div class="sira  bx-none" style="margin-top: 10px;">
                        <span class="table-m-header " style="border-top:1px solid #D1D5DF;">Ücretlendirme Tablosu</span>
                        <div class="hucre">
                          <b>Platform</b>
                        </div>
                        <div class="hucre">
                          <b>İşlem</b>
                        </div>
                        <div class="hucre">
                          <b>Ücret</b>
                        </div>
                        <div class="hucre">
                          <b>Süre</b>
                        </div>
                      </div>
                      <div class="sira">
                        <div class="hucre" data-title="Platform">
                          Youtube
                        </div>
                        <div class="hucre" data-title="İşlem">
                          Video
                        </div>
                        <div class="hucre" data-title="Ücret">
                          25₺ (.dk)
                        </div>
                        <div class="hucre" data-title="Süre">
                          15 Gün
                        </div>
                      </div>
                      <div class="sira">
                        <div class="hucre" data-title="Platform">
                          Blog Sitesi
                        </div>
                        <div class="hucre" data-title="İşlem">
                          Makale
                        </div>
                        <div class="hucre" data-title="Ücret">
                          5₺
                        </div>
                        <div class="hucre" data-title="Süre">
                          15 Gün
                        </div>
                      </div>
                      <div class="sira">
                        <div class="hucre" data-title="Platform">
                          Haber Sitesi
                        </div>
                        <div class="hucre" data-title="İşlem">
                          Makale
                        </div>
                        <div class="hucre" data-title="Ücret">
                          7.5₺
                        </div>
                        <div class="hucre" data-title="Süre">
                          15 Gün
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container mt-5">
                    <div class="row">
                      <div class="col-md-6">
                        <button type="button" data-toggle="modal" data-target="#kosullarVeKurallar"
                          class="btn btn-blue btn-sm btn-block mb-2"><span class="sli icon-doc"></span> Koşullar Ve
                          Kurallar</button>
                      </div>
                      <div class="col-md-6">
                        <a href="tickets"><button type="button" data-toggle="modal" data-target="#kosullarVeKurallar"
                            class="btn btn-primary btn-sm btn-block mb-2"> Destek Talebi Oluştur</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-5">
            <div class="newSide">
              <div class="well">
                <nav>
                  <div class="nav navs-tab" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-kredikarti-tab" data-toggle="tab" href="#nav-kredikarti"
                      role="tab" aria-controls="nav-kredikarti" aria-selected="true">Kredi Kartı/Banka Kartı</a>
                    <a class="nav-item nav-link" id="nav-havale-tab" data-toggle="tab" href="#nav-havale" role="tab"
                      aria-controls="nav-havale" aria-selected="false">Havale/EFT/ATM</a>
                    <a class="nav-item nav-link" id="nav-papara-tab" data-toggle="tab" href="#nav-papara" role="tab"
                      aria-controls="nav-papara" aria-selected="false">Papara</a>
                    <a class="nav-item nav-link" id="nav-pmoney-tab" data-toggle="tab" href="#nav-pmoney" role="tab"
                      aria-controls="nav-pmoney" aria-selected="false">Perfect Money</a>
                    <a class="nav-item nav-link" id="nav-bitcoin-tab" data-toggle="tab" href="#nav-bitcoin" role="tab"
                      aria-controls="nav-bitcoin" aria-selected="false">Bitcoin</a>
                    <a class="nav-item nav-link" id="nav-webmoney-tab" data-toggle="tab" href="#nav-webmoney" role="tab"
                      aria-controls="nav-webmoney" aria-selected="false">Web Money</a>
                    <a class="nav-item nav-link" id="nav-wunion-tab" data-toggle="tab" href="#nav-wunion" role="tab"
                      aria-controls="nav-wunion" aria-selected="false">Western Union</a>
                    <a class="nav-item nav-link" id="nav-bhesap-tab" data-toggle="tab" href="#nav-bhesap" role="tab"
                      aria-controls="nav-bhesap" aria-selected="false">Banka Hesapları</a>
                  </div>
                </nav>
                <div class="newSide">
                  <div class="row">
                    <div class="col-12">
                      <div class="new-tabs">
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade active show" id="nav-kredikarti" role="tabpanel"
                            aria-labelledby="nav-kredikarti-tab">
                            <img src="https://cdn.mypanel.link/850dbe/fnxf75oqqo7jko5l.png" class="mb-3" />
                            <p>Kredi Kartı / Banka Kartı yöntemiyle PayTR üzerinden güvenli bir şekilde 7/24 otomatik
                              bakiye yükleyebilirsiniz.</p>
                            <p><strong>Minimum Yükleme Miktarı 5₺</strong></p>
                            <p><strong>500₺ ve Üzeri Yüklemelerde %3 Bonus Bakiye!</strong></p>
                            <p><strong>1.000₺ ve Üzeri Yüklemelerde %5 Bonus Bakiye!</strong></p>
                            <p><strong>2.500₺ ve Üzeri Yüklemelerde %7 Bonus Bakiye!</strong></p>
                            <p><strong>5.000₺ ve Üzeri Yüklemelerde %10 Bonus Bakiye!</strong></p>

                          </div>
                          <div class="tab-pane fade" id="nav-havale" role="tabpanel" aria-labelledby="nav-havale-tab">
                            <img src="https://cdn.mypanel.link/850dbe/fnxf75oqqo7jko5l.png" class="mb-3" />
                            <p>Havale/EFT/ATM yöntemiyle PayTR üzerinden 7/24 otomatik bakiye yükleyebilirsiniz</p>
                            <p class="mb-3"><strong>Minimum Yükleme Miktarı 5₺</strong></p>
                            <p><strong>500₺ ve Üzeri Yüklemelerde %4 Bonus Bakiye!</strong></p>
                            <p><strong>1.000₺ ve Üzeri Yüklemelerde %6 Bonus Bakiye!</strong></p>
                            <p><strong>2.500₺ ve Üzeri Yüklemelerde %8 Bonus Bakiye!</strong></p>
                            <p><strong>5.000₺ ve Üzeri Yüklemelerde %11 Bonus Bakiye!</strong></p>

                            <p><strong>Nasıl Yüklerim?</strong></p>
                            <p>"Havale/EFT/Atm” ödeme yöntemini seçerseniz hemen alt tarafda bulunan “Yüklemek
                              İstediğiniz Tutar” kısmını doldurun. Telefon numaranızı 05XX XXX XX XX formatında
                              yazdıktan sonra, “Ödeme Yap” butonuna tıklayın. Yönlendirildiğiniz sayfada havale
                              yapacağınız bankayı seçtikten sonra “Ödemeniz Gereken Tutar” bölümünde yazan miktarı hemen
                              aşağı tarafta belirtilen hesap numarasına eksiksiz bir şekilde gönderin. Hesap
                              bilgilerinizi doğru yazdığınızdan ve gönderen hesabın size ait olduğundan mutlaka emin
                              olun. Aksi taktirde ödemeniz onaylanmayacaktır. Bu işlemi gerçekleştirdikten sonra sağ
                              tarafta bulunan “Ödemeyi Gönderen Ad, Soyad” kısmını , “T.C Kimlik (Son 6 hane) kısmını,
                              “Cep Telefonu Numaranız” kısmını ve “Ödeme Tarihini Seçin” kısmını eksiksiz bir şekilde
                              doldurun. Doldurduktan sonra “Ödemeyi bildir” butonuna tıklayın. Eğer havaleniz/eft’n
                              PayTR hesaplarına ulaştıysa, ödemeniz 10 dakika içerisinde otomatik olarak onaylanacaktır.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="nav-papara" role="tabpanel" aria-labelledby="nav-papara-tab">
                            <img src="https://cdn.mypanel.link/850dbe/x70zgx7c9fkyzcmd.png" class="mb-3" />
                            <p>Papara ile 7/24 Komisyonsuz Bakiye Yükleyebilirsiniz.</p>
                            <p>Aşağıdaki hesaba gönderim yaptıktan sonra <a href="tickets">Destek</a> Sayfasından
                              <strong>Ödeme Bildirimi</strong> Yapınız.</p>
                            <p><strong>Hesap Numarası:</strong> 2024727665</p>
                            <p><strong>Hesap Sahibi:</strong> Masum Gümüş </p>
                            <p><strong>1.000₺ ve Üzeri Yüklemelerde %3 Bonus Bakiye!</strong></p>
                            <p><strong>Minimum Bakiye Yükleme Tutarı 10₺</strong></p>
                          </div>
                          <div class="tab-pane fade" id="nav-pmoney" role="tabpanel" aria-labelledby="nav-pmoney-tab">
                            <img src="https://cdn.mypanel.link/850dbe/gydys5sy0e2rlxf7.png" class="mb-3" />
                            <p>Perfect Money Yöntemi ile 7/24 Otomatik Komisyonsuz Bakiye Yükleyebilirsiniz.</p>
                            <p><strong>1.000₺ ve Üzeri Yüklemelerde %3 Bonus Bakiye!</strong></p>
                            <p><strong>Minimum Yükleme Miktarı 150₺</strong></p>
                          </div>
                          <div class="tab-pane fade" id="nav-bitcoin" role="tabpanel" aria-labelledby="nav-bitcoin-tab">
                            <img src="https://cdn.mypanel.link/850dbe/ec6u3z9kn3h0rj0o.png" class="mb-3" />
                            <p>Bitcoin Yöntemi ile 7/24 Otomatik Komisyonsuz Bakiye Yükleyebilirsiniz.</p>
                            <p><strong>1.000₺ ve Üzeri Yüklemelerde %3 Bonus Bakiye!</strong></p>
                            <p><strong>Minimum Yükleme Miktarı 100₺</strong></p>
                          </div>
                          <div class="tab-pane fade" id="nav-webmoney" role="tabpanel"
                            aria-labelledby="nav-webmoney-tab">
                            <img src="https://cdn.mypanel.link/850dbe/qz12tnfwayntpcd0.png" class="mb-3" />
                            <p>Web Money Yöntemi ile 7/24 Otomatik Komisyonsuz Bakiye Yükleyebilirsiniz.</p>
                            <p><strong>2.000₺ ve Üzeri Yüklemelerde %3 Bonus Bakiye!</strong></p>
                            <p><strong>Minimum Yükleme Miktarı 200₺</strong></p>
                          </div>
                          <div class="tab-pane fade" id="nav-wunion" role="tabpanel" aria-labelledby="nav-wunion-tab">
                            <img src="https://cdn.mypanel.link/850dbe/i3sz0uqr5qtp7f5i.png" class="mb-3" />
                            <p>Türkiye dışında yaşayan üyelerimiz Western Union ile bakiye yükleyebilirler.</p>
                            <p>Western Union ile bakiye yüklemek isteyen üyelerimiz bizimle <strong>WhatsApp</strong>
                              hattından iletişime geçebilirler.</p>
                            <p><strong>Minimum Yükleme Miktarı 10$</strong> veya <strong>10€</strong></p>
                          </div>
                          <div class="tab-pane fade" id="nav-bhesap" role="tabpanel" aria-labelledby="nav-bhesap-tab">
                            <table class="banks">
                              <tbody>
                                <tr class="banks">
                                  <th class="banks">Banka Adı</th>
                                  <th class="banks">Şube Kodu</th>
                                  <th class="banks">Hesap No</th>
                                  <th class="banks">IBAN</th>
                                  <th class="banks">Alıcı Adı</th>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">Enpara - Finansbank</td>
                                  <td class="banks">-</td>
                                  <td class="banks">48214260</td>
                                  <td class="banks">TR27 0011 1000 0000 0048 2142 60</td>
                                  <td class="banks">Mikail Baykal</td>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">Kuveyt Türk</td>
                                  <td class="banks">-</td>
                                  <td class="banks">94177632-00001</td>
                                  <td class="banks">TR72 0020 5000 0941 7763 2000 01</td>
                                  <td class="banks">Mikail Baykal</td>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">Garanti</td>
                                  <td class="banks">721</td>
                                  <td class="banks">6626626</td>
                                  <td class="banks">TR46 0006 2000 7210 0006 6266 26</td>
                                  <td class="banks">Mikail Baykal</td>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">İş Bankası</td>
                                  <td class="banks">1017</td>
                                  <td class="banks">0260908</td>
                                  <td class="banks">TR97 0006 4000 0011 0170 2609 08</td>
                                  <td class="banks">Mikail Baykal</td>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">Ziraat Bankası</td>
                                  <td class="banks">917</td>
                                  <td class="banks">65398789-5004</td>
                                  <td class="banks">TR79 0001 0009 1765 3987 8950 04</td>
                                  <td class="banks">Mikail Baykal</td>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">Yapı Kredi</td>
                                  <td class="banks">993</td>
                                  <td class="banks">49227488</td>
                                  <td class="banks">TR60 0006 7010 0000 0049 2274 88</td>
                                  <td class="banks">Mikail Baykal</td>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">Akbank</td>
                                  <td class="banks">0357</td>
                                  <td class="banks">0144973</td>
                                  <td class="banks">TR10 0004 6003 5788 8000 1449 73</td>
                                  <td class="banks">Mikail Baykal</td>
                                </tr>
                                <tr class="banks">
                                  <td class="banks">Papara</td>
                                  <td class="banks">-</td>
                                  <td class="banks">-</td>
                                  <td class="banks">2024727665</td>
                                  <td class="banks"> Masum Gümüş </td>
                                </tr>
                              </tbody>
                            </table>
                            <p class="mt-3"><strong>BİLGİLENDİRME:</strong> Ödeme yapılırken kesilen Havale/EFT
                              ücretleri tarafımızca karşılanmayacaktır.</p>
                            <p>Banka hesaplarımzla yapılan bakiye yüklemeleri minimum <strong>10₺'</strong>dir.</p>
                            <p>Havale yaptıktan sonra Destek talebi açınız.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="well">
                <div class="newSide">
                  <div class="row">
                    <div class="col-12">
                      <div class="last-orders">
                        <div class="d-card-head" style="margin: 0 0 10px 0">
                          <div class="dch-icon">
                            <img src="https://cdn.mypanel.link/850dbe/3yaz5n6eijod5e1p.png" alt="">
                          </div>
                          Bakiye Ekleme Geçmişi
                        </div>
                        <div style="min-height:350px;height:350px;overflow-y: scroll;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>{{ lang('addfunds.id') }}</th>
                                <th>{{ lang('addfunds.date') }}</th>
                                <th>{{ lang('addfunds.method') }}</th>
                                <th>{{ lang('addfunds.amount') }}</th>
                                <th>Fatura</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for payment in paymentList %}
                              <tr>
                                <td>{{ payment['id'] }}</td>
                                <td><span class="nowrap">{{ payment['date'] }}</span></td>
                                <td>{{ payment['method'] }}</td>
                                <td>
                                  {% if payment['original_amount'] %}
                                  <span data-toggle="tooltip" data-placement="left"
                                    title="{{ payment['original_amount'] }}&nbsp;{{ payment['original_currency'] }}">≈
                                    {{ payment['amount'] }}</span>
                                  {% else %}
                                  {{ payment['amount'] }}
                                  {% endif %}
                                </td>
                                <td>
                                  <button type="button" data-toggle="modal" data-target="#talebim{{ payment['id'] }}"
                                    class="btn btn-refill btn-xs btn-blue">Fatura Talebi</button>


                                  <div class="modal fade" id="talebim{{ payment['id'] }}">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h4 class="modal-title">Fatura talebi oluştur</h4>
                                          <button type="button" class="close" data-dismiss="modal">×</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                          <div class=" mb-5">

                                            <form id="gidenform{{ payment['id'] }}">
                                              <div id="sonuc"></div>
                                              <div class="form-group">
                                                <label for="subject" class="control-label">Konu Başlığı</label>
                                                <select class="form-control" id="subject" name="TicketForm[subject]">
                                                  <option value="Fatura Talebi - #{{ payment['id'] }}">Fatura Talebi
                                                  </option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label for="servis_id" class="control-label">Ödeme ID</label>
                                                <input class="form-control" id="servis_id"
                                                  name="AddFoundsForm[fields][servis_id]" value="{{ payment['id'] }}"
                                                  required>
                                              </div>
                                              <div class="form-group">
                                                <label for="odeme_tutari" class="control-label">Ödeme Tutarı</label>
                                                <input class="form-control" id="odeme_tutari"
                                                  name="AddFoundsForm[fields][odeme_tutari]"
                                                  value="{{ payment['amount'] }}" required>
                                              </div>
                                              <div class="form-group">
                                                <label for="sahis_sirket" class="control-label">Şahıs Şirket
                                                  Ünvanı</label>
                                                <input class="form-control" id="sahis_sirket"
                                                  name="AddFoundsForm[fields][sirket_unvani]" required>
                                              </div>
                                              <div class="form-group">
                                                <label for="vergi_daire" class="control-label">Vergi Dairesi</label>
                                                <input class="form-control" id="vergi_daire"
                                                  name="AddFoundsForm[fields][vergi_daire]" required>
                                              </div>
                                              <div class="form-group">
                                                <label for="vergi_numara" class="control-label">Vergi Numarası</label>
                                                <input class="form-control" id="vergi_numara"
                                                  name="AddFoundsForm[fields][vergi_numara]" required>
                                              </div>
                                              <div class="form-group">
                                                <label for="fatura_adres" class="control-label">Fatura Adresi</label>
                                                <textarea class="form-control" rows="7" id="fatura_adres"
                                                  name="AddFoundsForm[fields][fatura_adres]" required></textarea>
                                              </div>
                                              <div class="form-group">
                                                <label for="message" class="control-label">Ek Açıklama</label>
                                                <textarea class="form-control" rows="7" id="message"
                                                  name="TicketForm[message]" required></textarea>
                                              </div>
                                              <input type="hidden" id="csrf" name="_csrf" value="{{csrftoken}}">
                                              <button id="talep{{ payment['id'] }}"
                                                class="btn btn-primary btn-block">Talebi Gönder</button>

                                            </form>

                                          </div>
                                          <div class="alert alert-info">
                                            Uyarı: Fatura istediğiniz tutar üzerinden %18'i kadar ödeme yapmanız
                                            gerekmektedir. Destek talebi üzerinden ödeme yapmanız gereken tutarı size
                                            ileteceğiz.
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>



                                  <script>
                                    $(document).ready(function () {
                                      $("#talep{{ payment['id'] }}").on("click", function () {
                                        var subject = $("#talebim{{ payment['id'] }}").find('#subject').val();
                                        var telefon = $("#talebim{{ payment['id'] }}").find('#field-phone').val();
                                        var servis_id = $("#talebim{{ payment['id'] }}").find('#servis_id').val();
                                        var odeme_tutari = $("#talebim{{ payment['id'] }}").find('#odeme_tutari').val();
                                        var sahis_sirket = $("#talebim{{ payment['id'] }}").find('#sahis_sirket').val();
                                        var vergi_daire = $("#talebim{{ payment['id'] }}").find('#vergi_daire').val();
                                        var vergi_numara = $("#talebim{{ payment['id'] }}").find('#vergi_numara').val();
                                        var fatura_adres = $("#talebim{{ payment['id'] }}").find('#fatura_adres').val();
                                        var message = $("#talebim{{ payment['id'] }}").find('#message').val();
                                        var csrf = $("#talebim{{ payment['id'] }}").find('#csrf').val();

                                        var son_mesaj = 'Servis ID : ' + servis_id + '\n Ödeme Tutarı : ' + odeme_tutari + ' \n Şahıs Şirket Ünvanı : ' + sahis_sirket + ' \n Vergi Dairesi : ' + vergi_daire + ' \n Vergi Numarası : ' + vergi_numara + ' \n Fatura Adresi : ' + fatura_adres + ' \n Telefon : ' + telefon + ' \n Ek Açıklama : ' + message;
                                        var gidenform{{ payment['id'] }
                                      } = $("#gidenform{{ payment['id'] }}").serialize();
                                      console.log(gidenform{{ payment['id'] }});
                                    $.ajax({
                                      url: 'https://hepsisosyal.com/ticket-create',
                                      method: 'POST',
                                      data: 'TicketForm[subject]=' + subject + '&TicketForm[message]=' + son_mesaj + '&_csrf=' + csrf,
                                      success: function (e) {
                                        $("#sonuc").html("Talebiniz alındı!");
                                      }
                                    });
		
	});
});
                                  </script>
                                </td>

                              </tr>








                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        {% if pagination['count'] > 50 %}
                        <div class="nav-pills">
                          <ul class="pagination {% if site['rtl'] %} rtl-pagination {% endif %}">
                            {% if pagination['current'] != 1 %}
                            <li>
                              <a href="{{ page['url'] }}/{{ pagination['last'] }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            {% endif %}
                            {% set r, l = 3, 3 %}
                            {% if pagination['current'] == 1 %}
                            {% set r = 6 %}
                            {% endif %}
                            {% if pagination['current'] == 2 %}
                            {% set r = 5 %}
                            {% endif %}
                            {% if pagination['current'] >= pagination['pages'] %}
                            {% set l = 5 %}
                            {% endif %}
                            {% for i in 1..ceil(pagination['pages']) %}
                            {% if i >= (pagination['current']-l) and i <= (pagination['current']+r) %} <li{% if
                              i==pagination['current'] %} class="active" {% endif %}><a
                                href="{{ page['url'] }}/{{i}}">{{i}}</a></li>
                              {% endif %}
                              {% endfor %}
                              {% if pagination['current'] < pagination['pages'] %} <li>
                                <a href="{{ page['url'] }}/{{ pagination['next'] }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                                </li>
                                {% endif %}
                          </ul>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="foot-texts text-center">
          HepsiSosyal.com | Tüm hakları saklıdır. © 2018-2021
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
<!-- Papara -->
<div class="modal fade" id="papara-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Papara ile Bakiye Yükle</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="card-box-top"
          style="color: #2a255c!important; padding: 20px;border-radius: 10px; margin: 0 0 25px 0; background: rgba(42, 37, 92, 0.15)">
          <p>Ödeme sonrası destek bölümünden ödeme bildirimi yapmanız gerekmektedir. Örnek;<br /><br />
            <strong>Gönderici Adı Soyadı:</strong><br />
            <strong>Ödeme Yöntemi:</strong><br />
            <strong>Gönderilen Tutar:</strong><br />
          <p>
        </div>
        <div class="payout mb-5">
          <table class="table">
            <thead class="paHead">
              <tr>
                <th scope="col">Hesap Sahibi</th>
                <th scope="col">Papara Numarası</th>
                <th scope="col">Minimum Yükleme</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Masum Gümüş </td>
                <td>
                  <code></code>
                  <p id="papara"><code>2024727665</code> <a id="paparaCopy" href="#"
                      onclick="copywalletid('#papara')"><small><span data-toggle="tooltip" data-placement="top" title=""
                          data-original-title="Kopyala" class="far fa-copy"></span></small></a> </p>
                </td>
                <td>10 TL</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="tickets"><button type="button" class="btn btn-primary btn-block">Ödeme Bildirimi Yap</button></a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Kurallar -->
<div class="modal fade" id="kosullarVeKurallar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Koşullar ve Kurallar</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <b>Kural 1</b>
        <p>"Süre" onay süresi anlamına gelir. Paylaşımı yaptıktan sonra belirtilen gün süresinde ödemenizi
          alabilirsiinz.</p>
        <b>Kural 2</b>
        <p>Herhangi bir platformda yaptığınız işlem onaylandıktan sonra silinirse veya kaldırılırsa HepsiSosyal
          üzerinden bakiyeniz iade edilmeksizin sınırsız olarak uzaklaştırılırsınız.</p>
        <b>Kural 3</b>
        <p>Paylaşım yaptıktan sonra onay süresini doldurmadan herhangi bir bildirim oluşturmanız durumunda paylaşımınız
          onaylanmayacaktır.</p>
        <b>Kural 4</b>
        <p>Sosyal medya platformları üzerinde paylaşılan gönderilerde gönderi istatistiklerinin ekran görüntülerini
          detaylı olarak bildirmek zorundasınız.</p>
        <b>Kural 5</b>
        <p>Sosyal medya platformları üzerinde paylaşılan gönderilerde ücretlendirmeler 1000 adet organik izlenme
          başınadır. Herhangi bir sanalizasyon kullanılmamalıdır. Bildiğiniz üzere bizim işimiz bu, herhangi bir kötüye
          kullanım keşfedersek gönderinizi onaylamayız.</p>
        <b>Kural 6</b>
        <p>Youtube üzerinden paylaştığınız gönderilerde referans linkinizle 1000 izlenme başına en az 100 kişinin
          sitemizi ziyaret etmesi gerekmektedir ve en az 10 kişinin referans linkiniz üzerinden bakiye yüklemesi
          gerekmektedir. Aksi taktirde herhangi bir gönderinizi onaylamayız.</p>
        <b>Kural 7</b>
        <p>Bakiye Kazan'dan yararlanabilmeniz için en az 1 defa bakiye yüklemesi yapmış olmanız şarttır.</p>
        <b>Paylaşımlarda herhangi bir sınırlama yoktur. İstediğiniz kadar paylaşım yapabilir, bakiye
          kazanabilirsiniz.</b>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#method').on('change', function () {
      if (this.value == '3539') {
        $("#divid").show();
      }
      if (this.value == '5231') {
        $("#divid").show();
      }
      if (this.value == '16901') {
        $("#divid").hide();
      }
      if (this.value == '5264') {
        $("#divid").hide();
      }
      if (this.value == '6017') {
        $("#divid").hide();
      }
    });
  });
</script>